---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Benefits from "../components/Benefits.astro";
---

<Layout
	title="Socorro Desimoni estudio de pilates en Formosa"
	description="Descubre un estudio de pilates en la ciudad de Formosa, Argentina. Dirigida por Socorro Desimoni">
	<Header />
	<main>
		<Intro />
		<About />
		<Benefits />
		<Services />
	</main>
	<Footer />
</Layout>
