<article
	id="about"
	class="text-pretty mx-auto px-8 pt-20 text-xl text-left max-w-4xl w-full">
	<h2 class="text-4xl mb-10 text-center text-wrap mx-auto tracking-wide">
		Sobre Nosotros
	</h2>

	<p>
		Creemos en crear un <strong> ambiente acogedor</strong> donde puedas sentirte
		inspirado a alcanzar tus metas de <strong>bienestar físico y mental</strong
		>. Ya sea que seas nuevo en el Pilates o un practicante experimentado, <strong
			>estamos aquí para apoyarte</strong
		>
		en cada paso del camino.
	</p>
	<p>
		Únete a nosotros y descubre los <strong>innumerables beneficios</strong> que
		el Pilates puede ofrecerte para vivir <strong
			>una vida más saludable y equilibrada</strong
		>.
	</p>
</article>
