<section id="contact">
	<h2>Contacto</h2>
	<p>
		¡Listo para experimentar los beneficios del Pilates? Ponte en contacto con
		nosotros para programar tu primera clase o preguntar sobre nuestros
		servicios.
	</p>
	<p>Teléfono: [Tu número de teléfono]</p>
	<p>Correo Electrónico: [Tu dirección de correo electrónico]</p>
	<p>Dirección: [Tu dirección de estudio, Formosa]</p>
</section>
