<footer
	id="contact"
	class="bg-[#935d48] text-pretty">
	<section
		class="text-pretty mx-auto px-8 py-20 text-xl text-left max-w-4xl w-full">
		<h2
			class="text-4xl text-center text-wrap mx-auto tracking-wide text-white mb-10">
			Contacto
		</h2>
		<article class="mb-10">
			<p class="text-md">
				Ponte en contacto con nosotros para programar tu primera clase o
				preguntar sobre nuestros servicios.
			</p>
		</article>
		<article
			class="flex flex-col md:flex-row md:justify-between gap-10 items-center">
			<div class="flex flex-col items-center justify-center">
				<p class="text-xs">WhatsApp: [Tu número de teléfono]</p>
				<p class="text-xs">Facebook: [Enlace a la página de Facebook]</p>
				<p class="text-xs">Instagram: [Enlace al perfil de Instagram]</p>
			</div>
			<div class="flex flex-col items-center justify-center">
				<p class="text-xs">Dirección: [Tu dirección de estudio, Formosa]</p>
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d447.51726114627286!2d-58.17025217797308!3d-26.192185876411003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945ca60a45f0a80d%3A0xd1eb3a12f17e979e!2sParaguay%20807%2C%20P3600%20Formosa!5e0!3m2!1ses!2sar!4v1709601700587!5m2!1ses!2sar"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"
					class=""
				></iframe>
			</div>
		</article>
	</section>
	<section class="border-t-[#f1e8e5] border-t py-2 flex justify-center">
		<a
			href="https://www.linkedin.com/in/ariel-ayala-8180b8232/"
			target="_blank"
			class="text-white text-xs font-thin"
			>@ArielAyala</a
		>
	</section>
</footer>

<style>
	p {
		color: white;
	}
</style>
