<header
	class="flex fixed z-20 bg-[#f1e8e5] justify-around py-8 h-11 w-full items-center animate-fade animate-once animate-duration-[2000ms] animate-ease-linear shadow-2xl">
	<img
		src="/sdSocorroLogo.png"
		alt={"Socorro Desimoni - Estudio de pilates"}
		width={50}
		height={50}
		id="linkHome"
	/>
	<nav>
		<ul class="flex justify-between gap-4 text-sm sm:text-lg">
			<li><button id="linkAbout">Nosotros</button></li>
			<li><button id="linkServices">Servicios</button></li>
			<li><button id="linkContact">Contacto</button></li>
		</ul>
	</nav>
</header>

<script src="../scripts/linkScroll.ts"></script>
