---
import { Image } from "astro:assets";
import IntroImage from "../assets/cadillac.webp";
---

<div class="w-full relative pt-16">
	<div
		class="absolute left-0 right-0 bottom-11 top-0 m-auto z-10 flex flex-col justify-center text-center text-white">
		<h1 class="text-4xl text-center text-wrap mx-auto tracking-wide">
			Socorro Desimoni
		</h1>
		<h1 class="text-xl text-center text-wrap mx-auto tracking-wide">
			Estudio de Pilates
		</h1>
	</div>
	<Image
		class="w-full h-screen object-cover blur aspect-video object-top animate-fade animate-once animate-duration-[2000ms] animate-ease-linear shadow-xl"
		src={IntroImage}
		alt="Socorro - Estudio Pilates"
		loading="eager"
		style="clip-path: polygon(0 75%, 0 0, 100% 0, 100% 75%, 50% 85%); filter: brightness(0.5);"
	/>
</div>
