---
import { Image } from "astro:assets";
import Logo from "../assets/sdSocorroLogo.png";
import IntroImage from "../assets/cadillac.webp";
---

<div class="w-full relative">
	<Image
		src={Logo}
		class="absolute z-10 left-0 right-0 top-0 bottom-0 m-auto"
		alt="Socorro - Estudio Pilates"
		loading="eager"
		width={250}
		height={250}
	/>
	<Image
		class="w-full h-screen object-cover blur aspect-video object-top animate-fade animate-once animate-duration-[2000ms] animate-ease-linear shadow-xl"
		src={IntroImage}
		alt="Socorro - Estudio Pilates"
		loading="eager"
		style="clip-path: polygon(0 95%, 0 0, 100% 0, 100% 95%, 50% 100%);"
	/>
</div>
