---
import { Image } from "astro:assets";

interface Props {
	img: any;
	services: string;
	description: string;
}

const { img, services, description } = Astro.props;
---

<div class="service p-4 rounded-2xl flex flex-col shadow-xl">
	<h3 class="text-left text-2xl font-semibold">{services}</h3>
	<p class="text-left text-sm font-light text-pretty">
		{description}
	</p>
	<Image
		class="rounded-lg aspect-video h-80 object-cover"
		src={img}
		alt={services}
		loading="eager"
	/>
</div>

<style>
	.service {
		flex: 1 1 300px;
		background-color: #fff;
	}
</style>
